
.note {
    position: absolute;
    width: 250px;
    min-height: 100px;
    margin: 20px auto 40px;
    padding: 15px;
    background: #f1f3a2;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(247,247,210,1)), to(rgba(240,242,155,1)));
    background: -moz-linear-gradient(top, rgba(247,247,210,1), rgba(240,242,155,1));
    list-style-type: none;
    -webkit-box-shadow: 0 2px 12px rgba(0,0,0,.5);
    -moz-box-shadow: 0 2px 12px (rgba(0,0,0.5));
    box-shadow: 0 8px 12px #000;
    -webkit-transform: rotate(-.5deg);
    -moz-transform: rotate(-.5deg);
    -o-transform: rotate(-.5deg);
    zIndex:1;
}

.note p {
    text-align: center;
   /*font: normal normal normal 30px/38px 'Reenie Beanie', Helvetica, Arial, sans-serif; */
    font: normal normal normal 30px/32px 'Just Me Again Down Here', Helvetica, Arial, sans-serif;
    color: #000;
    text-shadow: white 1px 1px 0px;
    overflow:hidden;
}

.readme {
    position: relative;
    width: 250px;
    min-height: 100px;
    margin: 20px auto 40px;
    padding: 15px;
    background: #f1f3a2;
}

.readme p {
    text-align: center;
   /*font: normal normal normal 30px/38px 'Reenie Beanie', Helvetica, Arial, sans-serif; */
    font: normal normal normal 30px/32px 'Just Me Again Down Here', Helvetica, Arial, sans-serif;
    color: #000;
    text-shadow: white 1px 1px 0px;
    overflow:hidden;
}

